<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Conquest - The latest futuristic tactical free game of space exploration! Discover its world with dozens of other players. MMO RTS in browser!">
  <title>{{title}}</title>

  <link rel="icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/app.js" defer></script>
</head>
<body>
  <script>
    if (document.location.hostname.search('conquest.io') !== -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57160157-1', 'auto');
      ga('send', 'pageview');
    }
  </script>

  {{{body}}}
</body>
</html>
