<div id="particles-js"></div>
<iframe class="star-github" src="https://ghbtns.com/github-btn.html?user=hugocaillard&repo=conquest&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
<a href="https://twitter.com/Conquest_Game" class="twitter-follow-button" data-show-count="true">Follow @Conquest_Game</a>
<div class="about-page" id="about-page">
  <div class="buttons">
    <a class="login" href="/">Play</a>
    <a href="/lobby" data-instant>Lobby</a>
    <a id="show-slide">How to play</a>
  </div>
  <div class="about-container">
    <div class="title">About Conquest</div>
    <div class="description">
      Conquest is a RTS in browser game made with modern web technologies such as: <a href="http://nodejs.org/" target="_blank">node.js</a>, <a href="http://koajs.com/" target="_blank">Koa</a>, <a href="http://duojs.org/" target="_blank">Duo</a>, <a href="http://svgjs.com/" target="_blank">SVG.JS</a>! It is currently in beta.<br>
      This is originally a school project made by:
      <ul>
        <li><a href="https://twitter.com/Cohars" target="_blank">Hugo Caillard</a> as Lead Developer</li>
        <li><a href="https://twitter.com/TheWadzy" target="_blank">Louis Charachon</a> as Designer</li>
        <li><a href="">Maxime Planchou</a> as Front End Developer</li>
        <li><a href="https://twitter.com/Mteuahasan" target="_blank">Matthieu Lachassagne</a> as Front End Developer</li>
        <li><a href="https://twitter.com/MagnanAurelien" target="_blank">Aurélien Magnant</a> as Front End Developer</li>
      </ul>
      Send a YO to CONQUESTYO to be notified when a game starts!<br>
      Please send us feedbacks and join our beta testers team.<br>
      Contact us at <em>contact [at] conquest [dot] io</em>.
    </div>
  </div>
</div>
<div class="overlays" id="overlays">
  <div class="tuto" id="tuto">
    <div class="img-container" id="img-container" data-index="1">
      <div class="tuto-btn hide" id="previous-slide"><span>&lsaquo;</span> Previous</div>
      <div class="tuto-btn" id="quit-slide">Play <span></span></div>
      <div class="tuto-btn" id="next-slide">Next <span>&rsaquo;</span></div>
    </div>
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>