<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Conquest</title>
  <link rel="stylesheet" href="style.css">

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body>
  <div id="board" class="board"></div>

  <!-- OVERLAYS -->
  <div class="overlays" id="overlays">
    <div id="flash"></div>

    <div class="choose-faction" id="choose-faction">
      <div id="soldier"><h3>Soldier</h3></div>
      <div id="engineer"><h3>Engineer</h3></div>
      <div id="medic"><h3>Medic</h3></div>
    </div>
  </div>

  <!-- PANELS -->
  <div id="left-panel"></div>
  <div id="right-panel"></div>

</body>
</html>
