<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Conquest</title>
  <link rel="stylesheet" href="style.css">

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body>
  <div id="board" class="board"></div>
  <div class="score">Score: <span id="score">0</span></div>
  <div class="p-life">Life: <span id="p-life">0</span></div>
  <!-- OVERLAYS -->
  <div class="overlays" id="overlays">
    <div class="flash" id="flash">
      <p class="spawning">Click on a tile to spawn</p>
    </div>

    <div class="choose-faction" id="choose-faction">
      <div id="soldier">
        <h3>Soldier</h3>
        <p class="level">Level: <span></span></p>
        <p class="life">Life points: <span></span></p>
        <p class="damages">Damages: <span></span></p>
        <p class="capture">Capture points: <span></span></p>
        <p class="healing">Healing: <span></span></p>
      </div>
      <div id="engineer">
        <h3>Engineer</h3>
        <p class="level">Level: <span></span></p>
        <p class="life">Life points: <span></span></p>
        <p class="damages">Damages: <span></span></p>
        <p class="capture">Capture points: <span></span></p>
        <p class="healing">Healing: <span></span></p>
      </div>
      <div id="medic">
        <h3>Medic</h3>
        <p class="level">Level: <span></span></p>
        <p class="life">Life points: <span></span></p>
        <p class="damages">Damages: <span></span></p>
        <p class="capture">Capture points: <span></span></p>
        <p class="healing">Healing: <span></span></p>
      </div>
    </div>
  </div>

  <!-- PANELS -->
  <div id="left-panel"></div>
  <div id="right-panel"></div>

</body>
</html>
