<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Conquest</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body>

  <div class="landing" id="landing">
    <div class="buttons">
      <a class="about" href="">About</a>
      <a class="how-to" href="">How to play</a>
    </div>

    <div id="particles-js"></div>

    <h1 class="title">conquest</h1>
    <div class="planet">
      <div class="outer-planet"></div>
      <div class="med-planet"></div>
      <div class="med2-planet"></div>
      <div class="inner-planet"></div>
    </div>


    <div class="login-section">
      <section class="login">
        <form action="/users/login" method="post" class="ajax">
          <input class="form-username" type="text" name="username" placeholder="Enter your username">
          <input class="form-password" type="password" name="password" placeholder="Password">
          <input type="checkbox" data-action="showPassword">
          <label for="showPassword"><small>Show password</small></label>
          <input type="submit" value="Validate">
        </form>
        <div class="form-separator">or</div>
        <div class="social-connect">
          <a href="" class="facebook-connect social-button-connect">Log in with Facebook</a>
          <a href="" class="twitter-connect social-button-connect">Log in with Twitter</a>
        </div>
      </section>

      <section class="register">
      <form action="/users/register" method="post" class="ajax">
         <input type="text" name="username" placeholder="Username">
         <input type="email" name="email" placeholder="email">
         <input type="password" name="password" placeholder="Password">
         <input type="checkbox" data-action="showPassword">
         <label for="showPassword"><small>Show password</small></label>
         <input type="submit" value="register">
       </form>
      </section>
      <div class="cancel-contain">
        <div class="cancel"><a href="#cancel">Cancel</a></div>
      </div>
    </div>

    <div class="start-contain">
      <div class="login-cta show"><a href="#login">Login</a></div>
      <div class="signin-cta show"><a href="#signin">Signin</a></div>
    </div>

  </div>
</body>
</html>
