<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Conquest - The latest futuristic tactical free game of space exploration! Discover its world with dozens of other players. MMO RTS in browser!">
  <title>Conquest</title>

  <link rel="icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body>
  <script>
    if (document.location.hostname.search('conquest.io') !== -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57160157-1', 'auto');
      ga('send', 'pageview');
    }
  </script>

  <div class="landing" id="landing">
    <div class="buttons">
      <a href="/lobby" data-instant>Lobby</a>
      <a class="about" href="/about" data-instant>About</a>
      <a class="how-to" id="show-slide">How to play</a>
    </div>

    <div id="particles-js"></div>

    <h1 class="title">conquest</h1>
    <p class="message" id="message"></p>
    <div class="planet">
      <div class="outer-planet"></div>
      <div class="med-planet"></div>
      <div class="med2-planet"></div>
      <div class="inner-planet"></div>
    </div>


    <div class="login-section">
      <section class="login">
        <form action="/users/login" method="post" class="ajax" id="login-username">
          <input class="form-username" type="text" name="username" placeholder="Enter your username">
          <input class="form-password" type="password" name="password" placeholder="Password">
          <input type="checkbox" data-action="showPassword">
          <label for="showPassword"><small>Show password</small></label>
          <button class="submit" type="submit">Log In</button>
        </form>
<!--         <div class="form-separator">or</div>
        <div class="social-connect">
          <a href="" class="facebook-connect social-button-connect">Log in with Facebook</a>
          <a href="" class="twitter-connect social-button-connect">Log in with Twitter</a>
        </div> -->
      </section>

      <section class="register">
      <form action="/users/register" method="post" class="ajax">
         <input class="form-username" type="text" name="username" placeholder="Username" id="register-username">
         <input class="form-email" type="email" name="email" placeholder="email">
         <input class="form-password" type="password" name="password" placeholder="Password">
         <input type="checkbox" data-action="showPassword">
         <label for="showPassword"><small>Show password</small></label>
         <button class="submit" type="submit">Sign Up</button>
       </form>
      </section>
      <div class="cancel-contain">
        <div class="cancel"><a href="">Cancel</a></div>
      </div>
    </div>

    <div class="start-contain">
      <div class="login-cta show"><a href="#login">Log In</a></div>
      <div class="signin-cta show"><a href="#signin">Sign In</a></div>
    </div>
  </div>

  <div class="overlays" id="overlays">
    <div class="tuto" id="tuto">
      <div class="img-container" id="img-container" data-index="1">
        <div class="tuto-btn hide" id="previous-slide"><span>&lsaquo;</span> Previous</div>
        <div class="tuto-btn" id="quit-slide">Play <span></span></div>
        <div class="tuto-btn" id="next-slide">Next <span>&rsaquo;</span></div>
      </div>
    </div>
  </div>
</body>
</html>
