<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Conquest</title>
  <link rel="stylesheet" href="style.css">

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body id="landing">

  <div class="buttons">
    <div class="about"><a href="">About</a></div>
    <div class="how-to"><a href="">How to play</a></div>
  </div>
  <div class="planet">
    <div class="title"></div>
    <div class="outer-planet"></div>
    <div class="med-planet"></div>
    <div class="med2-planet"></div>
    <div class="inner-planet"></div>
  </div>

  <div class="start-contain">
    <div class="start"><a href="">Start</a></div>
  </div>

</body>
</html>
