.about-page .about-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 26px;
  z-index: 4;
  scroll: auto;
}

  .about-page .about-container .title {
    font-size: 48px;
    margin-bottom: 50px;
    padding-top: 100px;
  }
  .about-page .about-container a {
    color: #fff;
  }
    .about-page .about-container ul li {
      list-style: none;
    }

.star-github {
  position: absolute;
  left: 20px;top: 20px;
  z-index: 2;
}
.twitter-follow-button {
  position: absolute;
  left: 90px; top: 20px;
  z-index: 2;
}
