.about-page .about-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  color: #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 26px;
  z-index: 2;
  scroll: auto;
}

  .about-page .title {
    padding-top: 100px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 48px;
  }
  .about-page a {
    text-decoration: none;
    color: #fff;
  }
  .about-page a:hover {
    text-decoration: underline;
  }
  .about-page li {
    list-style: none;
  }
  .about-page em {
    font-style: normal;
    color: #fff;
  }

.star-github {
  position: absolute;
  left: 20px;top: 20px;
  z-index: 2;
}
.twitter-follow-button {
  position: absolute;
  left: 90px; top: 20px;
  z-index: 2;
}
