.landing, .lobby {
  background: url("./imgs/background-landing.jpg");
  background-size: 100% 100%;
  text-align: center;
  width: 100%;
  height: 100%;
}
.planet {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  background: url("./imgs/planet.png");
  background-size: cover;
  background-position: 50% 50%;
  z-index: 4;
}
h1 {
  width: 750px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -375px;
  background: url("./imgs/conquest.png");
  background-size: cover;
  z-index: 5;
  cursor: default;
  color: transparent;
  transition: all .5s ease-in;
}
  h1.up {
    top: 30%;
    margin-top: 0;
  }

h1+.message {
  width: 750px;
  height: 100px;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: -50px;
  margin-left: -375px;
  text-align: center;
  color: #fff;
  z-index: -1;
}
  .message.show {
    z-index: 5;
  }

.outer-planet {
  width: 570px;
  height: 570px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -285px;
  margin-top: -285px;
  background: url("./imgs/outer-planet.png");
  background-size: cover;
  opacity: .3;
  animation:spin 40s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }

.med-planet {
  width: 650px;
  height: 650px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -325px;
  margin-top: -325px;
  background: url("./imgs/med-planet.png");
  background-size: cover;
  opacity: .3;
  animation:spin 20s linear infinite;
}
@keyframes spin-bis { 100% { transform:rotate(-360deg); } }

.med2-planet {
  width: 630px;
  height: 630px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -315px;
  margin-left: -315px;
  background: url("./imgs/med-planet2.png");
  background-size: cover;
  opacity: .7;
  animation:spin-bis 20s linear infinite;
}
.inner-planet {
  width: 530px;
  height: 530px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -265px;
  margin-top: -265px;
  background: url("./imgs/inner-planet.png");
  background-size: cover;
  opacity: .7;
  animation:spin-bis 20s linear infinite;
}

form {
  color: #fff;
}

.landing .buttons, .lobby .buttons {
  position: absolute;
  top: 25px;
  right: 50px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  z-index: 3;
  font-weight: normal;
}

.landing .buttons>a, .lobby .buttons>a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

.landing .start {
  color: #fff;
  display: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.landing .start.show{
  display: inline-block;
}
.landing .start a {
  color: #fff;
  text-decoration: none;
}

.landing .start-contain {
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
  z-index: 5;
}

.login-section {
  display: inline-block;
  position: absolute;
  bottom: 75px;
  width: 240px;
  margin-left: -120px;
  display: inline-block;
  z-index: 4;
  transition: all 1s ease;
  opacity: 0;
}
  .login-section.appear {
    opacity: 1;
  }
  .login-section .register {
    display: none;
    opacity: 0;
  }
  .login-section .register.show {
    display: block;
    opacity: 1;
  }
  .login-section .cancel-contain a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .login-section .login, .login-section .cancel{
    z-index: -1;
    opacity: 0;
    transition: all 1s ease;
  }
  .login-section.appear .login {
    display: block;
  }
  .login-section .login {
    display: none;
  }
  .login-section .login {
    z-index: -1;
    opacity: 0;
    transition: all 1s ease;
  }
  .login-section .show{
    z-index: 4;
    opacity: 1;
    transition: all 1s ease;
  }

  .login-section input[type=text],
  .login-section input[type=password],
  .login-section input[type=email] {
    padding: 10px 7px 10px 50px;
    border: 2px solid rgba(255,255,255, .8);
    border-radius: 3px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
    .login-section .form-username {
      background: url('./imgs/user.png') no-repeat, transparent;
      background-position: 18px 11px, 0 0;
      background-size: 15px 15px, 100% 100%;
    }
    .login-section .form-password{
      background: url('./imgs/password.png') no-repeat, transparent;
      background-position: 18px 8px, 0 0;
      background-size: 13px 17px, 100% 100%;
    }
    .login-section .form-email{
      background: url('./imgs/mail.png') no-repeat, transparent;
      background-position: 17px 13px, 0 0;
      background-size: 20px 11px, 100% 100%;
    }
    .login-section input[type=text]:focus,
    .login-section .login input[type=password]:focus,
    .login-section .login input[type=email]:focus {
      border: 2px solid rgba(255,255,255,.6);
      border-radius: 3px;
      color: #fff;
    }
    .login-section button {
      background: transparent;
      outline: none;
      border: none;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      padding: 6px;
      border: 1px solid #fff;
      margin-left: 13px;
      border-radius: 5px;
    }
    .form-separator{
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 15px;
      position: relative;
    }
    .form-separator:after{
      content: "";
      position: absolute;
      left: 20px;
      top: 9px;
      width: 30%;
      border-top: 1px solid #fff;
    }
    .form-separator:before{
      content: "";
      position: absolute;
      right: 20px;
      top: 9px;
      width: 30%;
      border-top: 1px solid #fff;
    }
    .social-button-connect {
      position: relative;
      display: block;
      text-decoration: none;
      width: 100%;
      padding: 10px 10px 10px 30px;
      background: #3b5998;
      border-radius: 3px;
      opacity: .8;
      margin-bottom: 15px;
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-size: 14px;
    }
    .social-button-connect:hover {
      opacity: 1;
    }
    .facebook-connect {background: #3b5998;margin-bottom: 5px;}
    .facebook-connect::before {
      content: '';
      position: absolute;
      background: url('./imgs/facebook.png');
      width: 10px;
      background-size: cover;
      height: 18px;
      left: 25px;
    }
    .twitter-connect {background: #55acee;}
    .twitter-connect::before {
      content: '';
      position: absolute;
      background: url('./imgs/twitter.png');
      left: 21px;
      background-size: cover;
      width: 17px;
      height: 15px;
    }
    .social-button-connect a{
      text-decoration: none;
      color: #fff;
    }

#particles-js{
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  z-index: 2;
}

.login-cta {
  display: none;
}

.login-cta.show {
  display: block;
}

.login-cta a{
  text-decoration: none;
  color: #fff;
}

.signin-cta {
  margin-top: 15px;
  display: none;
}

.signin-cta.show {
  display: block;
}

.signin-cta a {
  text-decoration: none;
  color: #fff;
}

.buttons a:before,
.buttons a:after,
.start-contain a:before,
.start-contain a:after,
.cancel-contain div a:before,
.cancel-contain div a:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.start-contain a:before,
.buttons a:before,
.cancel-contain div a:before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
}

.buttons a:after,
.start-contain a:after,
.cancel-contain div a:after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px);
}

.buttons a:hover:before,
.buttons a:hover:after,
.buttons a:focus:before,
.buttons a:focus:after,
.start-contain a:hover:before,
.start-contain a:hover:after,
.start-contain a:focus:before,
.start-contain a:focus:after,
.cancel-contain div a:hover:before,
.cancel-contain div a:hover:after,
.cancel-contain div a:focus:before {
  opacity: 1;
  transform: translateX(0px);
}

.login .submit{
  transition: all .5s ease;
}

.login .submit:hover {
  background-color: rgba(255,255,255,.5);
  transition: all .5s ease;
}
