.left-panel {
  top: 0;
  left: 0px;
  bottom: 0;
  background-color: #161616;
  z-index: 2;
  transition: left .4s ease-in-out;
}
  .left-panel.hide-panel {left: -300px}

#tab-name {
  padding: 15px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.logout {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  background: url('./imgs/game/logout_active.png') 50% no-repeat;
  background-size: 30px,100%;
  opacity: .9;
  cursor: pointer;
  transition: opacity .4s;
}
  .logout:hover {
    opacity: 1;
  }

.top-section-container {
  position: relative;
  left: 0;
  z-index: 2;
  transition: all .4s ease-in-out;
}
.left-panel.hide-panel .top-section-container {
  left: 300px;
  box-shadow: 0 2px 0 transparent;
}

.alpha .top-section-container {box-shadow: 0 2px 0 #bf2318}
.beta .top-section-container  {box-shadow: 0 2px 0 #50b04c}
.gamma .top-section-container {box-shadow: 0 2px 0 #0272fc}

/*****
*
Tab section left panel
*
*****/

.tabs-section {
  position: absolute;
  right: -48px;
  top: 48px;
}
  .left-panel div.tab {
    position: relative;
    width: 48px;
    height: 48px;
    background: url('') no-repeat center;
    background-size: 21px, 100%;
  }
    .left-panel .tab:nth-child(1) {background-image: url('./imgs/game/player_active.png')}
    .left-panel .tab:nth-child(2) {
      background-image: url('./imgs/game/team_active.png');
      display: none;
    }
    .left-panel .tab:nth-child(3) {
      background-image: url('./imgs/game/aide_active.png');
      cursor: pointer;
    }
      .left-panel .tab:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      .left-panel.alpha .tab:before {background: linear-gradient(-45deg, #bf2318 0%,#811911 100%)}
      .left-panel.beta .tab:before {background: linear-gradient(-45deg, #50b04c 0%,#2e662c 100%)}
      .left-panel.gamma .tab:before {background: linear-gradient(-45deg, #0272fc 0%,#0755b6 100%)}
      .tabs-section .tab:nth-child(3):before {background: none;}

    .tabs-section .tab:nth-child(4) {
      background: none;
      color: #444;
      text-align: center;
      font-size: 40px;
      cursor: pointer;
      transform: rotateY(0);
      transform-style: preserve-3d;
    }
      .tabs-section .tab:nth-child(4):before {background: none;}
      .tabs-section .tab:nth-child(4) span {
        background: url('./imgs/game/arrow.png') no-repeat center;
        background-size: 15px;
        display: block;
        width: 100%;
        height: 100%;
        transition: transform .4s ease-in-out;
      }
        .tabs-section .tab:nth-child(4).rotate span {
          transform: rotateY(180deg);
        }


/*
* Player info tab
* Name
* Class         ........
* Abilities
*/

.infos .first-infos-wrapper {
  text-align: left;
  position: relative;
  padding: 15px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background: url("") no-repeat 50%;
  background-size: cover;
}
  .alpha .first-infos-wrapper {background-image: url("./imgs/hex_grid_red.png");}
  .beta  .first-infos-wrapper{background-image: url("./imgs/hex_grid_green.png");}
  .gamma .first-infos-wrapper{background-image: url("./imgs/hex_grid_blue.png");}

  #player-name {
    color: #fff;
    font-size: 18px;
  }

  #player-class {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    float: right;
    font-weight: 300;
    position: relative;
    z-index: 1;
  }
    #player-class:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      right: 0px;
      top: -5px;
      background: url("./imgs/game/red_team_symbol.png") no-repeat center;
      background-size: 50px;
      z-index: -1;
    }
    .alpha #player-class:after {background-image: url("./imgs/game/red_team_symbol.png")}
    .beta  #player-class:after{background-image: url("./imgs/game/green_team_symbol.png")}
    .gamma #player-class:after{background-image: url("./imgs/game/blue_team_symbol.png")}

  .faction-icon {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin: 0 auto;
    right: 0;
    position: relative;
    top: 10px;
    background: url('') no-repeat 50%;
    background-size: 55px;
  }
  .faction-icon.soldier{
    background-image: url('./imgs/game/soldier_white.png');
    background-size: 45px
  }
  .faction-icon.engineer {background-image: url('./imgs/game/engineer_white.png')}
  .faction-icon.medic {background-image: url('./imgs/game/medic_white.png')}
  .left-panel .level-wrapper {
    text-align: center;
  }
  .left-panel .xp-wrapper {
    width: 80%;
    display: inline-block;
  }
  .left-panel .level {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: right;
  }

  #xp-progress {
    height: 3px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #74797d;
    opacity: .8;
  }
    #xp-progress>span {
      position: relative;
      width: 0;
      display: block;
      height: 100%;
      border-radius: 5px;
    }
    .alpha #xp-progress span {background-color: #bf2318;}
    .beta #xp-progress span {background-color:#50b04c;}
    .gamma #xp-progress span {background-color: #036ef3;}

  #number-level {
    display: inline-block;
    color: #fff;
    font-size: 40px;
    vertical-align: bottom;
    position: relative;
    top: 7px;
    margin-left: 5px;
  }

.skills-title-wrapper {
  color: #fff;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background: #222222;
  margin-bottom: 25px;
}

  #skill-points {
    font-family: 'Montserrat', sans-serif;
    float: right;
    text-transform: none;
    font-size: 14px;
  }
  .alpha #skill-points {color: #bf2318;}
  .beta #skill-points {color:#50b04c;}
  .gamma #skill-points {color: #036ef3;}

  .skills .skill-container {
    color: #3c3c3c;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    position: absolute;
    top: 304px;
    left: 0;
    right: 0;
    bottom: 0;
  }

    .skill-row {
      margin-bottom: 20px;
      border-bottom: 1px solid #000;
      background: url('') no-repeat 23px 3px;
    }
      .skill-row:first-child {
        background-image: url('./imgs/game/life.png');
        background-size: 50px;
        margin-top: 14px;
      }
      .skill-row:nth-child(2) {
        background-image: url('./imgs/game/strength.png');
        background-size: 30px;
      }
      .skill-row:nth-child(3) {
        background-image: url('./imgs/game/capture.png');
        background-size: 30px;
      }
      .skill-row:nth-child(4) {
        background-image: url('./imgs/game/heal.png');
        background-size: 40px;
      }
    .skill-name-container {
      position: relative;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 14px;
    }
    .skill-row .skill-name {
      color: #fff;
      padding: 10px;
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 40px;
    }
    .skill-row .right-part {
      position: absolute;
      right: 30px;
      top: 9px;
    }
    .skill-container .grade {
      color: #fff;
      padding: 10px;
      text-transform: uppercase;
    }
    .skill-container .skill-row button {
      color: #fff;
      padding: 5px 8px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 10px;
      position: relative;
      bottom: 2px;
    }
    .skill-container .skill-description {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      padding: 20px;
      padding-top: 0;
    }



    /*
    * Team info tab
    */

#team-infos{
  display: block;
}

#team-infos .level-wrapper {
  text-align: center;
  margin-top: 100px;
}

#team-infos .score-left-wrapper {
  width: 70%;
  display: inline-block;
}

#team-infos.first-infos-wrapper .score {
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: right;
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;
}

#score-left-progress {
  height: 3px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #74797d;
}

  #score-left-progress span {
    position: relative;
    width: 67%;
    background-color: #036ef3;
    display: block;
    height: 100%;
    border-radius: 5px;
  }

#number-score {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  vertical-align: bottom;
  position: relative;
  top: 7px;
  margin-left: 5px;
}

.sectors-possessions .sectors-title-wrapper {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 5px;
  background: #222222;
}

.sectors-possessions .sectors-content .info-hover {
  text-align: center;
  color: #444444;
}

.players-team .players-team-title-wrapper {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 5px;
  background: url('./imgs/game/big_team_icon.png') 25px no-repeat,#222222;
  background-size: 40px, 100%;
  margin-top: 5px;
}

#players-number {
  float: right;
  right: 20px;
  position: relative;
  bottom: 8px;
  font-size: 28px;
}
#team-infos {display: none;}
#team-infos .teamates-types-container {
  color: #3c3c3c;
  font-family: 'Montserrat', sans-serif;
}

  .teamates-type-row {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    position: relative;

  }
    .teamates-type-row:first-child:after{
      background: url('./imgs/game/soldier_grey.png') no-repeat;
      background-size: 20px;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 22px;
      right: 0;
      bottom: 0;
      content: "";
    }
    .teamates-type-row:nth-child(2):after{
      background: url('./imgs/game/medic_grey.png') no-repeat;
      background-size: 30px;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 22px;
      right: 0;
      bottom: 0;
      content: "";
    }
    .teamates-type-row:nth-child(3):after{
      background: url('./imgs/game/engineer_grey.png') no-repeat;
      background-size: 35px;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 22px;
      right: 0;
      bottom: 0;
      content: "";
    }

  .teamates-type-row .type-name-container {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .teamates-type-row .type-name {
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 30px;
  }
  .teamates-type-row .right-part {
    position: absolute;
    right: 30px;
    top: -5px;
  }
  #soldier-number {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    top: 3px;
  }
  .teamates-type-row .type-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 20px;
    padding-top: 0;
  }

