#left-panel {
  top: 0;
  left: 0px;
  bottom: 0;
  background-color: #161616;
  z-index: 2;
}

#tab-name {
  padding: 15px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

#logout {
  position: relative;
  width: 48px;
  height: 48px;  
  display: inline-block;
  vertical-align: top;
}
.alpha #logout{background: url('./imgs/game/logout_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #bf2318 0%,#811911 100%);background-size: 30px,100%;}
.beta #logout {background: url('./imgs/game/logout_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #50b04c 0%,#2e662c 100%);background-size: 30px,100%;}
.gamma #logout{background: url('./imgs/game/logout_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #0272fc 0%,#0755b6 100%);background-size: 30px,100%;}
.top-section-container {
  
}
.alpha .top-section-container {border-bottom: 2px solid #bf2318;}
.beta .top-section-container {border-bottom: 2px solid #50b04c;}
.gamma .top-section-container {border-bottom: 2px solid #0272fc;}
#left-panel.hide-panel {
  left: -300px;
}

/*****
*
Tab section left panel
*
*****/

.tabs-section {
  position: absolute;
  right: -48px;
  top: 48px;
}

  .tabs-section .tab {
    width: 48px;
    height: 48px;
  }
  .alpha .tabs-section .tab:first-child {background: url('./imgs/game/player_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #bf2318 0%,#811911 100%);background-size: 20px,100%;}
  .beta .tabs-section .tab:first-child {background: url('./imgs/game/logout_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #50b04c 0%,#2e662c 100%);background-size: 20px,100%;}
  .gamma .tabs-section .tab:first-child {background: url('./imgs/game/logout_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #0272fc 0%,#0755b6 100%);background-size: 20px,100%;}
  
  .alpha .tabs-section .tab:nth-child(2) {background: url('./imgs/game/team_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #bf2318 0%,#811911 100%);background-size: 30px,100%;}
  .beta .tabs-section .tab:nth-child(2) {background: url('./imgs/game/team_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #50b04c 0%,#2e662c 100%);background-size: 30px,100%;}
  .gamma .tabs-section .tab:nth-child(2) {background: url('./imgs/game/team_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #0272fc 0%,#0755b6 100%);background-size: 30px,100%;}
  
  .alpha .tabs-section .tab:nth-child(3) {background: url('./imgs/game/aide_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #bf2318 0%,#811911 100%);background-size: 24px,100%;}
  .beta .tabs-section .tab:nth-child(3) {background: url('./imgs/game/aide_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #50b04c 0%,#2e662c 100%);background-size: 24px,100%;}
  .gamma .tabs-section .tab:nth-child(3) {background: url('./imgs/game/aide_active.png') 50% no-repeat, -webkit-linear-gradient(-45deg, #0272fc 0%,#0755b6 100%);background-size: 24px,100%;}



  .tabs-section .tab:nth-child(4) {
    color: #444444;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    transform: rotate(0);
  }

  .tabs-section .tab:nth-child(4) span {
    background: url('./imgs/game/arrow.png') no-repeat center;
    background-size: 15px;
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: transform 1s ease-in;
    display: block;
    width: 100%;
    height: 100%;
  }

  .tabs-section .tab:nth-child(4).rotate span {
    transform: rotate(180deg);
  }


/* TEMP: player data - temporary style in the bottom left corner */
.player {
  width: 200px;
  position: absolute;
  bottom: 10px;left: 10px;
  color: white;
  z-index: 3;
  display: none;
}
  .player.show {
    display: block;
  }
  .player>div {
    margin: 10px 0;
    position: relative;
  }
  .player .value {
    position: absolute;
    right: 30px;
  }
  .player .faction {
    text-align: center;
    text-transform: uppercase;
  }
  .player .upgrade {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    border: solid 1px white;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    transition: opacity .15s ease-in;
    display: none;
  }
    .player .upgrade.show {
      display: block;
    }
    .player .upgrade:hover {
      opacity: 1;
    }


      /*
      * Player info tab
      * Name
      * Class         ........
      * Abilities
      */



.infos .first-infos-wrapper {
  text-align: left;
  position: relative;
  padding: 15px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.alpha .infos .first-infos-wrapper {background: url("./imgs/hex_grid_red.png") 50%;-webkit-background-size: cover; background-size: cover;}
.beta .infos .first-infos-wrapper{background: url("./imgs/hex_grid_green.png") 50%;-webkit-background-size: cover; background-size: cover;}
.gamma .infos .first-infos-wrapper{background: url("./imgs/hex_grid_blue.png") 50%;-webkit-background-size: cover; background-size: cover;}

  .infos .first-infos-wrapper #player-name {
    color: #fff;
    font-size: 18px;
  }

  .infos .first-infos-wrapper #player-class {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    float: right;
    font-weight: 300;
    position: relative;
    z-index: 1;
  }

    .infos .first-infos-wrapper #player-class::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      right: 0px;
      top: -5px;
      z-index: -1;
    }
    .alpha .infos .first-infos-wrapper #player-class::after {background: url('./imgs/game/red_team_symbol.png') no-repeat center;background-size: 50px;}
    .beta .infos .first-infos-wrapper #player-class::after{background: url('./imgs/game/green_team_symbol.png') no-repeat center;background-size: 50px;}
    .gamma .infos .first-infos-wrapper #player-class::after{background: url('./imgs/game/blue_team_symbol.png') no-repeat center;background-size: 50px;}

  #player-infos .first-infos-wrapper #icon-class {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin: 0 auto;
    right: 0;
    position: relative;
    top: 10px;
    /*background: url('./imgs/game/soldier_white.png') no-repeat 50%;
    background-size: 40px;*/
    /*background: url('./imgs/game/medic_white.png') no-repeat 50%;
    background-size: 55px;*/
    background: url('./imgs/game/engineer_white.png') no-repeat 50%;
    background-size: 55px;

  }

  #player-infos .first-infos-wrapper .level-wrapper {
    text-align: center;
  }

  #player-infos .first-infos-wrapper .xp-wrapper {
    width: 80%;
    display: inline-block;
  }

  #player-infos .first-infos-wrapper .level {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: right;
  }

  #xp-progress {
    height: 3px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #74797d;
    opacity: .8;
  }
    #xp-progress span {
      position: relative;
      width: 67%;
      display: block;
      height: 100%;
      border-radius: 5px;
    }
    .alpha #xp-progress span {background-color: #bf2318;}
    .beta #xp-progress span {background-color:#50b04c;}
    .gamma #xp-progress span {background-color: #036ef3;}

  #number-level {
    display: inline-block;
    color: #fff;
    font-size: 40px;
    vertical-align: bottom;
    position: relative;
    top: 7px;
    margin-left: 5px;
  }

#player-infos .skills .skills-title-wrapper {
  color: #fff;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background: #222222;
  margin-bottom: 25px;
}

  #skill-points {
    font-family: 'Montserrat', sans-serif;
    float: right;
    text-transform: none;
    font-size: 14px;
  }
  .alpha #skill-points {color: #bf2318;}
  .beta #skill-points {color:#50b04c;}
  .gamma #skill-points {color: #036ef3;}

  #player-infos .skills .skill-container {
    color: #3c3c3c;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    position: absolute;
    top: 304px;
    left: 0;
    right: 0;
    bottom: 0;
  }

    #player-infos .skills .skill-container .skill-row {
      margin-bottom: 20px;
      border-bottom: 1px solid #000;
    }
    #player-infos .skills .skill-container .skill-row:first-child {
    content: "";
    background: url('./imgs/game/life.png') 23px 3px no-repeat;
    background-size: 50px;
    margin-top: 14px;
    }
    #player-infos .skills .skill-container .skill-row:nth-child(2) {
    content: "";
    background: url('./imgs/game/strength.png') 23px 6px no-repeat;
    background-size: 30px;
    }
    #player-infos .skills .skill-container .skill-row:nth-child(3) {
    content: "";
    background: url('./imgs/game/capture.png') 23px 0px no-repeat;
    background-size: 30px;
    }
    #player-infos .skills .skill-container .skill-row:nth-child(4) {
    content: "";
    background: url('./imgs/game/heal.png') 23px 0px no-repeat;
    background-size: 40px;
    }

    #player-infos .skills .skill-name-container {
      position: relative;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 14px;
    }

    #player-infos .skills .skill-container .skill-row .skill-name {
      color: #fff;
      padding: 10px;
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 40px;
    }

    #player-infos .skills .skill-container .skill-row .right-part {
      position: absolute;
      right: 30px;
      top: 9px;
    }

    #life-grade {
      color: #fff;
      padding: 10px;
      text-transform: uppercase;
    }

    #player-infos .skills .skill-container .skill-row button {
      color: #fff;
      padding: 5px 8px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 10px;
      position: relative;
      bottom: 2px;
    }

    #player-infos .skills .skill-container .skill-row .skill-description {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      padding: 20px;
      padding-top: 0;
    }



    /*
    * Team info tab
    */

#team-infos{
  display: block;
}

#team-infos .first-infos-wrapper .level-wrapper {
  text-align: center;
  margin-top: 100px;
}

#team-infos .first-infos-wrapper .score-left-wrapper {
  width: 70%;
  display: inline-block;
}

#team-infos .first-infos-wrapper .score {
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: right;
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;
}

#score-left-progress {
  height: 3px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #74797d;
}

  #team-infos #score-left-progress span {
    position: relative;
    width: 67%;
    background-color: #036ef3;
    display: block;
    height: 100%;
    border-radius: 5px;
  }

#number-score {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  vertical-align: bottom;
  position: relative;
  top: 7px;
  margin-left: 5px;
}

.sectors-possessions .sectors-title-wrapper{
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 5px;
  background: #222222;
}

.sectors-possessions .sectors-content .info-hover{
  text-align: center;
  color: #444444;
}

.players-team .players-team-title-wrapper{
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 5px;
  background: url('./imgs/game/big_team_icon.png') 25px no-repeat,#222222;
  background-size: 40px, 100%;
  margin-top: 5px;
}

#players-number {
  float: right;
  right: 20px;
  position: relative;
  bottom: 8px;
  font-size: 28px;
}
#team-infos {display: none;}
#team-infos .teamates-types-container {
  color: #3c3c3c;
  font-family: 'Montserrat', sans-serif;
}

  #team-infos .teamates-types-container .teamates-type-row {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    position: relative;

  }
  #team-infos .teamates-types-container .teamates-type-row:first-child::after{
    background: url('./imgs/game/soldier_grey.png') no-repeat;
    background-size: 20px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 22px;
    right: 0;
    bottom: 0;
    content: "";
  }
  #team-infos .teamates-types-container .teamates-type-row:nth-child(2)::after{
    background: url('./imgs/game/medic_grey.png') no-repeat;
    background-size: 30px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 22px;
    right: 0;
    bottom: 0;
    content: "";
  }
  #team-infos .teamates-types-container .teamates-type-row:nth-child(3)::after{
    background: url('./imgs/game/engineer_grey.png') no-repeat;
    background-size: 35px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 22px;
    right: 0;
    bottom: 0;
    content: "";
  }


  #team-infos .teamates-type-row .type-name-container {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #team-infos .teamates-type-row .type-name {
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 30px;
  }

  #team-infos .teamates-type-row .right-part {
    position: absolute;
    right: 30px;
    top: -5px;
  }

  #soldier-number {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    top: 3px;
  }

  #team-infos .teamates-type-row .type-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 20px;
    padding-top: 0;
  }

