/* STYLES OF OVERLAYS */
.overlays>div {z-index: -1;}
  .overlays>div.show {
    display: block;
    z-index: 4;
    text-transform: uppercase;
  }

/* FLASH MESSAGE */
.flash {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;right: 0;
  color: white;
  text-align: center;
}

/* CHOOSE FACTION */
.choose-faction {
  display: none;
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  color: #FFF;
}
  .choose-faction>div {
    float: left;
    width: 33.333%;
    text-align: center;
    cursor: pointer;
    transition: all .15s ease-in;
  }
  .choose-faction .inner  {
    background-size: 203px 225px;
    height: 232px;
    font-size: 12px;
    padding-top: 12px;
    opacity: .8;
  }
    .choose-faction .inner:hover  {
      opacity: 1;
    }
    .choose-faction .inner span  {
      font-size: 16px;
      padding-left: 4px;
    }
    .choose-faction .inner:hover span  {
      text-shadow: 2px 2px #000;
    }
    .choose-faction .inner p {
      margin: 5px;
    }
    .choose-faction.alpha .inner {background: url('./imgs/spawn/red_respawn.png') no-repeat center;background-size: 200px;}
    .choose-faction.beta  .inner {background: url('./imgs/spawn/green_respawn.png') no-repeat center;background-size: 200px;}
    .choose-faction.gamma .inner {background: url('./imgs/spawn/blue_respawn.png') no-repeat center;background-size: 200px;}
    .choose-faction img {
      height: 30px;
      position: relative;
      top: 12px;
      right: 1px;
      margin-bottom: 37px;
    }
    .choose-faction h3 {
      margin: 0.5em;
      font-size: 18px;
    }

/* CONNECT TURRET */
div.close-turret {
  background: url('./imgs/game/close.png') no-repeat center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  float: right;
}
div.connect-turret {
  position: absolute;
  left: 50%;
  width: 600px;
  height: 450px;
  margin-left: -300px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 88px 45px;
  top: 20%
}
.alpha div.connect-turret {background: url('./imgs/game/bg_popin_red.png');background-size: 600px;}
.beta div.connect-turret {background: url('./imgs/game/bg_popin_green.png');background-size: 600px;}
.gamma div.connect-turret {background: url('./imgs/game/bg_popin_blue.png');background-size: 600px;}
.connect-turret>p {
  margin-top: 38px;
}
.qrcode {
  width: 41%;
  float:left;
  margin-top: 26px;
}
.or {
  width: 18%;
  margin: 0 auto;
  position: relative;
  top: 100px;
  font-size: 22px;
}
div.bitly {
  width: 41%;
  float: right;
}
p.bitly {
  margin-top: 28px;
}

