.score, .p-life {
  position: absolute;
  z-index: 3;
  color: white;
}
  .score {top: 10px;left: 10px;}
  .p-life {bottom: 10px;left: 10px;}

/* STYLES OF OVERLAYS */
.overlays>div {z-index: -1;}
  .overlays>div.show {
    display: block;
    opacity: .8;
    z-index: 2;
  }
  .overlays>div.show:hover {
    opacity: 1;
  }

/* FLASH MESSAGE */
.flash {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;right: 0;
  color: white;
  text-align: center;
}

/* CHOOSE FACTION */
.choose-faction {
  display: none;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 230px;
  margin-top: -115px;
  background-color: #ddd;
  color: #555;
  opacity: 0;
  transition: opacity .3s ease-in;
}
  .choose-faction>div {
    float: left;
    width: 33.333%;
    height: 100%;
    border-left: solid 1px black;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transition: all .15s ease-in;
  }
    .choose-faction>div:hover {
      color: #333;
      background-color: #eee;
    }
    .choose-faction>div:first-child {
      border:none;
    }
