.right-panel {
  top: 0; bottom: 0;
  right: 0;
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  z-index: 2;
}
/**
  * SECTOR STATS
*/
.sector-info {
  background-color: #888;
  padding-bottom: 26px;
}
  .sector-info .capture-wrapper {
    text-align: center;
  }
  .sector-info .score-cap-wrapper {
    width: 60%;
    display: inline-block;
  }
  .sector-info .score-cap {
    color: #fff;
    font-size: 24px;
    line-height: 48px;
    margin-top: 20px;
    text-align: right;
  }
.block1 {
  padding: 20px 30px 0 30px;
}
.sector-name {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 24px;
}
.sector-deco {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 12px;
}
#icon-team, #icon-class {
  width: 52px;
  height: 42px;
  margin: 0 auto;
  background-color: rgba(3,110,243,.7);
  margin-top: 15px;
  position: absolute;;
  top: 12px;
}
#icon-team {
  right: 30px;
}
#icon-class {
  right: 77px;
  margin-right: 10px;
}
#deploy-turret {
  width: 64px;
  height: 75px;
  margin: 0 auto;
  background-color: rgba(3,110,243,.7);
  margin-top: 62px;
}

.capture-progress {
  height: 5px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #74797d;
}
  .capture-progress>span {
    position: relative;
    width: 0;
    background-color: transparent;
    display: block;
    height: 100%;
    border-radius: 5px;
  }
    .capture-progress>.alpha {background-color: #dd4b39;}
    .capture-progress>.beta  {background-color: #7ab800;}
    .capture-progress>.gamma {background-color: #4183c4;}

.percent-capture {
  width: 80px;
  display: inline-block;
  position: relative;
  top: 7px;
  vertical-align: bottom;
  color: #fff;
  font-size: 45px;
  margin-left: 5px;
  text-align: right;
}
  .percent-capture:after {
    content: '%';
    font-size: 24px;
    font-weight: 400;
  }

.stats-container {
  width: 100%;
  height: 165px;
}

  .right-panel.alpha .stats-container {box-shadow: 0 2px 0 #dd4b39;}
  .right-panel.beta  .stats-container {box-shadow: 0 2px 0 #7ab800;}
  .right-panel.gamma .stats-container {box-shadow: 0 2px 0 #4183c4;}

.tile-stats>div{
  float: left;
  text-align: center;
  width: 25%;
  height: 55px;
  line-height: 55px;
}
  .tile-stats>div:first-child {
    background-color: transparent;
  }
  .tile-stats>div.alpha {background-color: #49161D;}
  .tile-stats>div.beta  {background-color: #1d442a;}
  .tile-stats>div.gamma {background-color: #0d3063;}
  .stats-container>.shadows {
    width: 75%;
    height: 165px;
    margin-left: 25%;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.3);
    position: relative;
  }

/**
  * CHAT
*/
.chat {
  position: absolute;
  top: 471px; bottom: 40px;
  left: 0; right: 0;
}
.chat .messages {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: 0 20px;
  font-size: 12px;
  overflow: scroll;
}

.message {
  border-bottom: solid 1px #444;
  padding-bottom: 12px;
}
  .message>.content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
  }
  .message.action>.content {
    color: #444;
  }

.message .username {
  font-family: 'Montserrat', sans-serif;
}
  .message.alpha .username {color:#df1b28;}
  .message.beta  .username {color:#50b04c;}
  .message.gamma .username {color:#0272fc;}

.message .team {
  text-transform: uppercase;
}
.message .bold {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.right-panel>.send-msg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0 32px;
  background-color: #1D1D1D;
  font-family: 'Open Sans', sans-serif;
  color: #999;
  -webkit-box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.right-panel>.send-msg::-webkit-input-placeholder {
  color: #444;
}
