@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'necolas/normalize.css';

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

header {
  padding: 0 10px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@import './headings.css';
@import './forms.css';
@import './overlays.css';
@import './right-panel.css';
@import './left-panel.css';
@import './landing.css';
@import './admin.css';



.board {
  background-color: #181818;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.panel{
  position: fixed;
  width: 400px;
}


::-moz-selection {background: none;}
::selection      {background: none;}
