@import 'necolas/normalize.css';
@import './headings.css';
@import './forms.css';


html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

header {
  padding: 0 10px;
}

html, body {
  width: 100%;
  height: 100%;
}

.board {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}