@import 'necolas/normalize.css';

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

header {
  padding: 0 10px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

@import './headings.css';
@import './forms.css';
@import './overlays.css';
@import './right-panel.css';
@import './left-panel.css';
@import './landing.css';
@import './top-panel.css';
@import './admin.css';


body {
  background: url('./imgs/game/game_bg.jpg');
  background-size: 50% 50%;
}
.board {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
  .bg-container>svg {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    display: block;
    margin-left: 1px;
    margin-top: 1px;
  }
.panel {
  position: fixed;
  width: 300px;
}
video {
  display: none;
}


::-moz-selection {background: none;}
::selection      {background: none;}
