.top-panel {
  position: fixed;
  top: 0;
  left: 300px;
  right: 300px;
  height: 48px;
  background-color: #222222;
  z-index: 2;
}

  .top-panel .time {
    display: inline-block;
    width: 20%;
    height: 100%;
    position: relative;
    vertical-align: top;
    float: left;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .top-panel .score {
    display: inline-block;
    width: 80%;
    height: 100%;
    position: relative;
    vertical-align: top;
    float: left;
    background: #161616;
    top: 0; left: 0;
    padding-top: 16px;
  }

    .top-panel .score-bar {
      width: 80%;
      height: 5px;
      margin: 0px auto;
      background-color: #74797d;
      opacity: .8;
    }

      .top-panel .score-bar span {
        position: relative;
        width: 0;
        height: 100%;
        display: block;
      }

      #score-alpha {background-color: #bf2318;}
      #score-beta {background-color: #50b04c;}
      #score-gamma {background-color: #036ef3;}