<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Conquest - Turret</title>

  <link rel="icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/mobile.css">

</head>
<body>
  <script>
    if (document.location.hostname.search('conquest.io') !== -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57160157-1', 'auto');
      ga('send', 'pageview');
    }
  </script>

  <h1>Conquest</h1>

  <div class="content">
    <p>Please enter this url on your computer and join a game.</p>
    <p>A link will be provided to allow you to enjoy a specific mobile functionality.</p>
    <p>We hope to you soon on conquest!</p>
  </div>
</body>
</html>
