{{!< mobile }}

<h1>Conquest</h1>

<div class="content">
  <p>Please enter this url on your computer and join a game.</p>
  <p>A link will be provided to allow you to enjoy a specific mobile functionality.</p>
  <p>We hope to you soon on conquest!</p>
</div>