<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/mobile.css">
  <title>Conquest - Turret</title>

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/mobile.js" defer></script>
</head>
<body>
  <div class="deploy btn" id="deploy">Deploy</div>
  <div class="get-back btn" id="get-back">Get Back</div>

</body>
</html>
